html { 
    font-size: 15px;
}
.search-button { 
    font-family: 'Roboto', sans-serif;
    color: #1e2128;
    background-color: #adabac;
    border: none;
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
}
.search-button:focus {
    outline: none;
}
.head-table { 
    display: flex;
    padding: 10px 0 30px 0;
}
table { 
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #adabac;
    font-size: 15px;
    font-weight: 300;
    padding: 15px;
}
.block-butt { 
    font-family: 'Roboto', sans-serif;
    border: none;
    color: #1e2128;
    background-color: #adabac;
    align-items: center;
    border-radius: 15px;
}
.block-butt:active { 
    color: #fe5917;
}